html, body {
  background-color: black;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden
}

.main_font {
    color: #0F0;
    font-size: small;
}

.form1 {
    display: inline-flex;
    text-align: left;
}

#main_terminal {
    height: 100%;
    width: 100%;
    lex-direction: column;
}

.name_label {
    padding-right: 10px;
    white-space: nowrap;
}

.message_label {
    padding-right: 10px;
    white-space: nowrap;

}

.log_text {
    color: #0F0;
    font-size: small;
    margin-left: 1px;
}

input {
    background-color: black;
    outline: none;
    border: none;
    width: 100%;
    max-width: 100%;
}
