<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>terminal</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/terminal.css}">
    <script th:src="@{/js/terminal.js}"></script>
</head>
<body>
    <div id="main_terminal">
        <form id="form1" class="form1">
            <span class="name_label">root: fakeOS-36K4J</span>
            <input type="text" name="inputText" id="inputText" required/>
        </form>
    </div>
</body>
</html>
