<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>terminal</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/terminal.css}">
    <script th:src="@{/js/terminal.js}"></script>
</head>
<body>
    <div id="main_terminal">
        <div id="log_space"></div>
        <form class="form1">
            <span class="main_font message_label" th:text="${startMessage}"></span>
            <input type="text" name="startText" class="main_font" id="startText" required/>
        </form>
        <!--<form class="form1">
            <span class="name_label main_font">root: fakeOS-36K4J</span>
            <input type="text" name="inputText" class="main_font" id="inputText" required/>
        </form>-->
    </div>
</body>
</html>
